@model JuicyBurger.Web.InputModels.Restaurants.RestaurantsCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "CreateRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (this.User.Identity.IsAuthenticated)
{
    <div class="container shadow mt-1 p-5">
        <h2 class="bg-dark text-white font-weight-bold text-center p-2 rounded">Request Company Partner</h2>
        <hr />
        <form method="post" asp-action="/Restaurants/CreateRequest">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group mx-auto w-50">
                <div class="d-flex justify-content-center">
                    <label asp-for="FullName" class="text-dark font-weight-bold">Full Name</label>
                </div>
                <input asp-for="FullName" type="text" class="form-control" id="full-name" placeholder="Full Name">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group mx-auto w-50">
                <div class="d-flex justify-content-center">
                    <label asp-for="Company" class="text-dark font-weight-bold">Company</label>
                </div>
                <input asp-for="Company" type="text" class="form-control" id="company" placeholder="Company">
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group mx-auto w-50">
                <div class="d-flex justify-content-center">
                    <label asp-for="Location" class="text-dark font-weight-bold">Location</label>
                </div>
                <input asp-for="Location" type="text" class="form-control rounded" id="location" placeholder="Location">
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group mx-auto w-50">
                <div class="d-flex justify-content-center">
                    <label asp-for="PhoneNumber" type="text" class="text-dark font-weight-bold">Phone Number</label>
                </div>
                <input asp-for="PhoneNumber" class="form-control rounded" id="phone-number" placeholder="Phone Number">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group mx-auto w-50">
                <div class="d-flex justify-content-center">
                    <label asp-for="VatNumber" type="text" class="text-dark font-weight-bold">VAT Number</label>
                </div>
                <input asp-for="VatNumber" class="form-control rounded" id="vat-number" placeholder="VAT Number">
                <span asp-validation-for="VatNumber" class="text-danger"></span>
            </div>
            <hr />
            <div class="d-flex justify-content-center">
                <button class="btn btn-dark font-weight-bold mb-3">Send Request</button>
            </div>
        </form>
    </div>
}
else
{
    <partial name="_LogInOrRegisterBeforeAction" />
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
