.welcome {
    color: #5a7c8a;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}

#font-welcome {
    font-family: Comic Sans MS, Helvetica, sans-serif;
}

.afterWelcome {
    text-align: center;
}

.main-content-icons-text {
    font-family: Impact, Charcoal, sans-serif;
}