<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JuicyBurger.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/reset-css.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/welcome-index.css" />
    <link rel="stylesheet" href="~/css/carousel.css" />
    <link rel="stylesheet" href="~/css/custom-colors.css" />
    <link rel="stylesheet" href="~/css/sticky-footer.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/jquery.datetimepicker.full.min.js"></script>
</head>

<body>
    <div id="page-container">
        <header>

            <!-- Navigation -->
            <div id="content-wrap">
                <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">

                    <!-- Logo -->
                    <div class="container">
                        <a href="/">
                            <img alt="Brand" src="~/images/burgerLogo.png" height="50" />
                        </a>
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Navbar menu -->
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ml-auto">
                                @if (!this.User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a id="font-welcome" class="nav-link font-weight-bold" href="/Products/All?page=1">Menu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="font-welcome" class="nav-link font-weight-bold" href="/Home/About">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="font-welcome" class="nav-link font-weight-bold" href="/Home/Contact">Contacts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="font-welcome" class="nav-link font-weight-bold" href="/Identity/Account/Login">Sing In</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a id="font-welcome" class="nav-link font-weight-bold" href="/Products/All?page=1">Menu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="font-welcome" class="nav-link font-weight-bold" href="/Home/About">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="font-welcome" class="nav-link font-weight-bold" href="/Home/Contact">Contacts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="font-welcome" class="nav-link font-weight-bold" href="/Orders/Cart">Cart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="font-welcome" class="nav-link font-weight-bold" href="/Receipts/All">Receipts</a>
                                    </li>
                                    <li><h3 class="text-muted">|</h3></li>
                                    <li class="nav-item">
                                        <a id="font-welcome" class="nav-link font-weight-bold" href="/Identity/Account/Logout">Logout</a>
                                    </li>
                                }
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Admin Panel
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                            <a class="dropdown-item" href="/Administration/Products/Type/Create">Create Product Type</a>
                                            <a class="dropdown-item" href="/Administration/Products/Create">Create Product</a>
                                            <a class="dropdown-item" href="/Administration/Restaurants/Requests">Partner Requests</a>
                                            <a class="dropdown-item" href="/Administration/Ingredients/Create">Create Ingredient</a>
                                            <a class="dropdown-item" href="/Administration/Products/All">All Products</a>
                                            <a class="dropdown-item" href="/Products/DrinksMenu">Restorants</a>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </nav>

            </div>
        </header>

        <!-- RenderBody -->
        <div>
            <partial name="_CookieConsentPartial" />
            <main role="main" class="mt-5">
                @RenderBody()
            </main>
        </div>

        <!-- Footer -->
        <footer id="footer" class="footer bg-dark">
            <div class="container text-center text-md-left">
                <div class="row text-center text-md-left mt-3 pb-3">

                    <!-- Grid column -->
                    <div id="font-welcome" class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-secondary">
                        <h4 class="mb-4 font-weight-bold">The Juicy Burger</h4>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing elit.
                            The Juicy burger team!
                        </p>
                    </div>
                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-secondary text-center">
                        <h5 id="font-welcome" class="text-uppercase mb-4 font-weight-bold ">Products</h5>
                        <ul class="navbar-nav ml-auto">
                            <li>
                                <p>
                                    <a class="text-secondary" href="/Products/All?page=1">Our Menu</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a class="text-secondary" href="~/Home/_ComingSoon">Delivery</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a class="text-secondary" href="/Home/About">About</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a class="text-secondary" href="/Home/Contact">Contacts</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-secondary text-center">
                        <h5 id="font-welcome" class="text-uppercase mb-4 font-weight-bold">Useful links</h5>
                        <ul class="navbar-nav ml-auto">
                            <li>
                                <p>
                                    <a class="text-secondary" href="#">Your Account</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a class="text-secondary" href="#">Become a Dasher</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a class="text-secondary" href="/Restaurants/CreateRequest">Become a Partner</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-secondary">

                        <!-- Social buttons -->
                        <h5 id="font-welcome" class="text-center font-weight-bold text-uppercase mb-4">Follow Us</h5>
                        <div class="text-center">
                            <p>Facebook</p>
                        </div>
                        <div class="text-center">
                            <p>Twitter</p>
                        </div>
                        <div class="text-center">
                            <p>Google+</p>
                        </div>
                    </div>
                </div>
                <hr class="bg-light">

                <!-- Grid column -->
                <div class="d-flex justify-content-center">
                    <p id="font-welcome" class="text-center text-md-left text-secondary">
                        Copyright &copy; The Juicy Burger 2019
                    </p>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
