<div class="container shadow mt-5 p-5">
    <h2 class="text-center text-dark">You must be <a class="text-info" href="/Identity/Account/Login">Logged in</a> or <a class="text-info" href="/Identity/Account/Register">Register</a> if u don't have an account!</h2>
</div>