@using JuicyBurger.Services.GlobalConstants
@model List<JuicyBurger.Web.ViewModels.Orders.OrderCartViewModel>
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (this.User.Identity.IsAuthenticated)
{
    <div class="container shadow rounded p-5">
        @if (Model.Count == 0)
        {
            <h2 class="text-center">Your cart is empty!</h2>
        }
        else
        {
            <div class="row bg-dark rounded">
                <div class="col-md-3 main-content-icons-text text-light">
                    <h2 class="mt-1">Picture</h2>
                </div>
                <div class="col-md-5 main-content-icons-text text-light">
                    <h2 class="mt-1">Product Name</h2>
                </div>
                <div class="col-md-2 main-content-icons-text text-light">
                    <h2 class="mt-1">Qty</h2>
                </div>
                <div class="col-md-2 main-content-icons-text text-light text-md-right">
                    <h2 class="mt-1">Price</h2>
                </div>
            </div>
            <hr />
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="row bg-dark mb-1 rounded">
                    <div class="col-md-3 main-content-icons-text text-light">
                        <img id="thumbnail" class="img-thumbnail product-cart-image"
                             src="@Model[i].ProductImage" />
                    </div>
                    <div class="col-md-5 main-content-icons-text text-light">
                        <h2 class="mt-1">@Model[i].ProductName</h2>
                    </div>
                    <div class="col-md-2 main-content-icons-text text-light">
                        <h2 class="mt-1">x @Model[i].Quantity</h2>
                    </div>
                    <div class="col-md-2 main-content-icons-text text-light text-md-right">
                        <h2 class="mt-1">&#36;@((Model[i].ProductPrice * Model[i].Quantity).ToString(ServicesGlobalConstants.PriceRouting)) </h2>
                    </div>
                </div>
            }
            <form action="/Orders/Complete" >
                <div class="row text-right mt-5">
                    <div class="col main-content-icons-text mt-1">
                        <h3>Total Price: &#36;@Model.Sum(total => total.ProductPrice * total.Quantity).ToString(ServicesGlobalConstants.PriceRouting)</h3>
                    </div>
                    <div class="text-right">
                        <input type="submit" value="Complete Order" class="btn btn-danger font-weight-bold" />
                    </div>
                </div>
            </form>
        }
    </div>
}
else
{
    <partial name="_LogInOrRegisterBeforeAction" />
}