@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<header class="p-1">
    <h1 class="bg-dark text-white font-weight-bold text-center mt-5 p-3 w-25 mx-auto rounded">Register</h1>
    <form method="post" asp-action="/Identity/Account/Register" class="form border-primary-4 rounded p-3 w-25 mx-auto mt-3">
        <div class="form-group mx-auto">
            <div class="d-flex justify-content-center">
                <label asp-for="Input.FirstName" class="text-dark h5"></label>
            </div>
            <input type="text"
                   class="form-control text-dark"
                   id="firstName"
                   placeholder="First Name..."
                   asp-for="Input.FirstName">
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto">
            <div class="d-flex justify-content-center">
                <label asp-for="Input.LastName" class="text-dark h5"></label>
            </div>
            <input type="text"
                   class="form-control text-dark"
                   id="lastName"
                   placeholder="Last Name..."
                   asp-for="Input.LastName">
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto">
            <div class="d-flex justify-content-center">
                <label asp-for="Input.Username" class="text-dark h5">Username</label>
            </div>
            <input type="text"
                   class="form-control text-dark"
                   id="username"
                   placeholder="Username..."
                   asp-for="Input.Username">
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto">
            <div class="d-flex justify-content-center">
                <label asp-for="Input.Email" class="text-dark h5"></label>
            </div>
            <input type="text"
                   class="form-control text-dark"
                   id="email"
                   placeholder="Email..."
                   asp-for="Input.Email">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto">
            <div class="d-flex justify-content-center">
                <label asp-for="Input.Password" class="text-dark h5">Password</label>
            </div>
            <input type="password"
                   class="form-control text-dark"
                   id="password"
                   placeholder="Password..."
                   asp-for="Input.Password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto">
            <div class="d-flex justify-content-center">
                <label asp-for="Input.ConfirmPassword" class="text-dark h5">Confirm Password</label>
            </div>
            <input type="password"
                   class="form-control text-dark"
                   id="confirmPassword"
                   placeholder="Confirm Password..."
                   asp-for="Input.ConfirmPassword">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto">
            <div class="d-flex justify-content-center">
                <label asp-for="Input.PhoneNumber" class="text-dark h5">Phone Number</label>
            </div>
            <input type="text"
                   class="form-control text-dark"
                   id="phoneNumber"
                   placeholder="Phone Number..."
                   asp-for="Input.PhoneNumber">
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>
        <hr class="bg-dark mt-3">
        <div class="d-flex justify-content-center mb-5">
            <button type="submit" class="btn btn-dark font-weight-bold">Register</button>
        </div>
    </form>
</header>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
