@{
    ViewData["Title"] = "About";
}

<div class="container">

    <!-- Intro Content -->
    <div class="row mt-5">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="~/images/about-rest.jpg" width="750" height="450" alt="">
        </div>
        <div class="col-lg-6">
            <h2 class="main-content-icons-text text-center">About Modern Business</h2>
            <hr class="bg-dark w-75" />
            <p class="main-content-icons-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
            <p class="main-content-icons-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
            <p class="main-content-icons-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Team Members -->
    <h2 class="main-content-icons-text text-center">Our Team</h2>
    <hr class="bg-dark" />
    <div class="row">
        <div class="col-lg-4 mb-5">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="~/images/our-team-owner.jpg" alt="">
                <div class="card-body">
                    <h4 class="main-content-icons-text card-title">Owner</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                    <p class="main-content-icons-text card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">owner@example.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="~/images/our-team-training.jpg" alt="">
                <div class="card-body">
                    <h4 class="main-content-icons-text card-title">Trainer</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                    <p class="main-content-icons-text card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">manager@example.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="~/images/our-team-manager.jpg" alt="">
                <div class="card-body">
                    <h4 class="main-content-icons-text card-title">Manager</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                    <p class="main-content-icons-text card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
