@{
    ViewData["Title"] = "Burger menu";
}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="main-content-icons-text text-center mt-3 mb-0 bg-light py-3">
        OUR BURGERS
    </h1>

    <div class="row">
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card mb-4">
                <h5 class="card-header main-content-icons-text bg-dark text-white">SEARCH</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary main-content-icons-text bg-dark" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header main-content-icons-text bg-dark text-white">CATEGORIES</h5>
                <div class="card-body ">
                    <div>
                        <ul class="list-group">
                            <li class="mb-1">
                                <a class="list-group-item main-content-icons-text bg-dark text-white" href="#">Burgers</a>
                            </li>
                            <li class="mb-1">
                                <a class="list-group-item main-content-icons-text bg-dark text-white" href="/Products/DrinksMenu">Drinks</a>
                            </li>
                            <li class="mb-1">
                                <a class="list-group-item main-content-icons-text bg-dark text-white" href="/Products/FriesMenu">Fries</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header bg-dark text-white">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
            </div>

        </div>
        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="~/images/product-burger1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title main-content-icons-text">CLASSIC Burger</h2>
                    <h3 class="card-title main-content-icons-text">&#36; 6.99</h3>
                    <p class="card-text card-title main-content-icons-text">A classic never goes out of style. Two beef patties cooked-to-order, American cheese, lettuce, tomato, pickles, onions, and of course, ketchup and mustard.</p>
                    <a href="#" class="btn main-content-icons-text btn-dark">ORDER &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    ★ ★ ★ ★ ☆
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="~/images/product-burger2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title main-content-icons-text">RODEO Burger</h2>
                    <h3 class="card-title main-content-icons-text">&#36; 10.99</h3>
                    <p class="card-text main-content-icons-text">A two-patty Texan delight. Topped with cheddar cheese, our signature crispy onion rings, and a BBQ sauce tangy enough to kick anyone off their mechanical bull. With french fries!</p>
                    <a href="#" class="btn main-content-icons-text btn-dark">ORDER &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    ★ ★ ★ ★ ☆
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="~/images/product-burger3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title main-content-icons-text">IRISH PORK Burger</h2>
                    <h3 class="card-title main-content-icons-text">&#36; 7.89</h3>
                    <p class="card-text main-content-icons-text">Our classic burger topped with four slices of crispy bacon for mouthwatering perfection. American cheese, lettuce, tomato, pickles, onions, and of course, ketchup and mustard complete this masterpiece.</p>
                    <a href="#" class="btn main-content-icons-text btn-dark">ORDER &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    ★ ★ ★ ★ ☆
                </div>
            </div>

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-5">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
