@model JuicyBurger.Web.ViewModels.Products.ProducstAllViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container shadow mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>p</td>
                    <td>Otto</td>
                    <td>mtt</td>
                </tr>
            </tbody>
        
    </table>
</div>