@using JuicyBurger.Web.ViewModels.Products
@using JuicyBurger.Web.ViewModels.Ingredients
@model JuicyBurger.Web.InputModels.Products.ProductsCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container shadow mt-1 p-5">
    <h2 class="bg-dark text-white font-weight-bold text-center p-2 rounded">Create Product</h2>
    <hr />
    <form method="post" asp-action="/Administration/Products/Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>

        <!-- Name & Price -->
        <div id="name-and-price-holder" class="d-flex justify-content-between">
            <div class="form-group mx-auto w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="Name" class="text-dark font-weight-bold h6">Name</label>
                </div>
                <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mx-auto w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="Price" class="text-dark font-weight-bold h6">Price</label>
                </div>
                <input asp-for="Price" type="number" class="form-control" id="price" placeholder="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>

        <!-- Description -->
        <div class="form-group mx-auto w-50">
            <div class="d-flex justify-content-center">
                <label asp-for="Description" class="text-dark font-weight-bold h6">Description</label>
            </div>
            <textarea asp-for="Description" class="form-control rounded" id="description" rows="3" placeholder="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <!-- Product Type -->
        <div class="form-group mx-auto w-25 mt-4">
            <div class="d-flex justify-content-center">
                <label asp-for="ProductType" class="text-dark font-weight-bold h6">Product Type</label>
            </div>
            <select class="form-control text-dark" id="type" asp-for="ProductType">
                <option selected disabled>Select Product Type</option>
                @foreach (var type in (IEnumerable<ProductTypeViewModel>)this.ViewData["productTypes"])
                {
                    <option value="@type.Name">@type.Name</option>
                }
            </select>
            <span asp-validation-for="ProductType" class="text-danger"></span>
        </div>

        <div class="form-group mx-auto w-25 mt-4">
            <div class="d-flex justify-content-center">
                <label asp-for="Ingredients" class="text-dark font-weight-bold h6">Ingredients</label>
            </div>
            <select asp-for="Ingredients" class="selectpicker" multiple data-live-search="true">
                @foreach (var type in (IEnumerable<IngredientsAllCreateViewModel>)this.ViewData["ingredients"])
                {
                    <option value="@type.Name">@type.Name</option>
                }
            </select>
            <span asp-validation-for="Ingredients" class="text-danger"></span>
        </div>

        <!-- Upload Image -->
        <div class="form-group mx-auto w-25 mt-4">
            <div class="d-flex justify-content-center">
                <label asp-for="Image" class="text-dark font-weight-bold h6">Upload Image</label>
            </div>

            <div class="input-group">
                <span class="btn btn-file">
                    <input asp-for="Image" type="file" id="image">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </span>
            </div>
            <img id='img-upload' />
        </div>
        <hr />

        <!-- Button -->
        <div class="d-flex justify-content-center">
            <button class="btn btn-dark font-weight-bold mb-3">Create Product</button>
        </div>
    </form>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>$('#555').selectpicker();</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
